p {
  font-family: Lato;
}

.container {
  display: table;
}

.row{
  background-color: purple;
  display: table-row
}


.rowCell{
  background-color: blue;
  margin-top: 10px;
  display: table-cell
}

#date, #branch {
  margin-left: 20px;
}

#menu{
  display: inline;
}

ul {
  list-style-type: none;
  background-color: green;
  
}

li {
  display: inline-block;
  padding-left: 10px;
  border: 2px solid red;
  margin-left: 5px;
  background-color: white;
  text-align: left;
  border-radius: 5px;


}

li:hover {
  background-color: grey;
}