
<p>
  Start editing to see some magic happen :)
</p>

<div class="container">
  <div class="row">
  <label class="rowCell" for="date">Date</label>
  <input class="rowCell" type="text" id="date"> <br>
  </div>
  <div class="row">
  <label class="rowCell" for="branch">Branch</label>
  <input class="rowCell" type="text" id="branch">
  </div>
</div>

<div id="menu">
  <ul>
    <li><a>Home</a></li>
    <li><a>About</a></li>
    <li><a>Support</a></li>
  </ul>
</div>


<p>hjvsdcujshndfcvjhsddvcjhsdvhjsdvb jchsv jdsfbv jsdnbsvc jhnvjsh
  hvcsdgnbvfjhmdgvjhvshjvndsjhvmvmnsddvjhvsj v<span>1992</span>jhf
  hjcdvnfcvjhmvcjhfvcjhmgv wydhgbwiukjgbiuukjhgjnlkjcxgfbbfgvnlkf
</p>

<div class="divclass">
  <h1>chdsjhcgsdhfgdhjfgd</h1>
  <h1>chdsjhcgsdhfgdhjfgd</h1>
  <h1>chdsjhcgsdhfgdhjfgd</h1>
  <h1>chdsjhcgsdhfgdhjfgd</h1>
  <h1>chdsjhcgsdhfgdhjfgd</h1>
</div>