
<p>
  Start editing to see some magic happen :)
</p>

<div class="container">
  <div class="floatclass">
  <div class="row">
  <label class="rowCell" for="date">Date</label>
  <input class="rowCell" type="text" id="date"> <br>
  </div>
  <div class="row">
  <label class="rowCell" for="branch">Branch</label>
  <input class="rowCell" type="text" id="branch">
  </div>
    <div class="row">
  <label class="rowCell" for="branch">Branch</label>
  <input class="rowCell" type="text" id="branch">
  </div>
  </div>
  <div class="floatclass">
    <div class="row">
  <label class="rowCell" for="branch">Branch</label>
  <input class="rowCell" type="text" id="branch">
  </div>
    <div class="row">
  <label class="rowCell" for="branch">Branch</label>
  <input class="rowCell" type="text" id="branch">
  </div>
    <div class="row">
  <label class="rowCell" for="branch">Branch</label>
  <input class="rowCell" type="text" id="branch">
  </div>
  </div>
</div>

<div id="menu">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Support</a></li>
  </ul>
</div>

<div  *ngFor="let data of divsData">
  <div  class="container">
    <div class="row">
      <label class="rowCell" for="rowd"> {{data.label}} </label>
      <input class="rowCell" type="text" id="rowd">
    </div>
  </div>
</div>


<div class="divcont" >
  <div class="ed" *ngFor="let data of divsData">
  <div class="fc"></div>
  <hr>
  </div>
</div>